<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title"><ion-icon name="game-controller-outline"></ion-icon>
      LISTA DE JOGOS
      <ion-icon name="game-controller-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list *ngFor="let jogo of this.listaJogos">
      <ion-item (click)="editar(jogo)">
        <ion-avatar id="itensMenu"><img src="{{jogo.downloadURL}}"></ion-avatar>
        <ion-label>{{ jogo.nome }}</ion-label><ion-icon name="game-controller-outline"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-fab horizontal="start" vertical="bottom">
      <ion-fab-button color="#171515" (click)="irParaGithub()">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal="end" vertical="bottom">
      <ion-fab-button color="success" (click)="irParaCadastro()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>