<ion-header >
  <ion-toolbar>
    <ion-title>Bem Vindo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="logar" (ngSubmit)="submitForm()" novalidate>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <!--Mensagens de Erro-->
      <span *ngIf="logar.get('email')?.touched &&
      logar.get('email')?.errors?.['required']">Email é obrigatório</span>
      <span  *ngIf="logar.get('email')?.dirty &&
      logar.get('email')?.errors?.['email']">Formato de Email Inválido</span>
      <!--Mensagens de Erro-->
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
            <!--Mensagens de Erro-->
            <span *ngIf="logar.get('senha')?.touched &&
            logar.get('senha')?.errors?.['required']">Senha é obrigatória</span>
            <span  *ngIf="logar.get('senha')?.dirty &&
            logar.get('senha')?.errors?.['minlength']">A senha é de no mínimo 6 caracteres</span>
            <!--Mensagens de Erro-->
      <ion-button expand="full" color="success" type="submit">Entrar</ion-button>
      <ion-button expand="full" color="danger" (click)="logarComGmail()">
        Entrar com Google <ion-icon slot="end" name="logo-google"></ion-icon>
      </ion-button>
      <ion-button expand="full" color="#171515" (click)="logarComGithub()">
        Entrar com GitHub <ion-icon slot="end" name="logo-github"></ion-icon>
      </ion-button>
    </form>
    <a (click)="irParaRegistrar()">Não tem cadastro? Clique Aqui!</a>
  </ion-list>
</ion-content>