    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>
          <ion-icon name="game-controller-outline"></ion-icon>
          LISTA DE JOGOS
          <ion-icon name="game-controller-outline"></ion-icon>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content [fullscreen]="true">
    
      <form [formGroup]="registerForm" (ngSubmit)="cadastro()" novalidate>
      
        <ion-list>
    
          <!-- Nome -->
          <ion-item>
            <ion-input label="Nome" placeholder="Insira o nome" formControlName="nome"></ion-input>
          </ion-item>
          <ion-item *ngIf="registerForm.get('nome').touched && registerForm.get('nome').dirty && registerForm.get('nome').hasError('required')">
            <ion-label color="danger">Nome é obrigatório</ion-label>
          </ion-item>
          <ion-item *ngIf="registerForm.get('nome').touched && registerForm.get('nome').dirty && registerForm.get('nome').hasError('minlength')">
            <ion-label color="danger">O nome deve ter no mínimo 3 caracteres</ion-label>
          </ion-item>
    
          <!-- Lançamento -->
          <ion-item>
            <ion-input label="Lançamento" type="number" placeholder="Insira o ano de lançamento" formControlName="lancamento"></ion-input>
          </ion-item>
          <ion-item *ngIf="registerForm.get('lancamento').touched && registerForm.get('lancamento').dirty && registerForm.get('lancamento').hasError('required')">
            <ion-label color="danger">Lançamento é obrigatório</ion-label>
          </ion-item>
    
          <!-- Distribuidora -->
          <ion-item>
            <ion-input label="Distribuidora" type="text" placeholder="Insira a Distribuidora" formControlName="distribuidora"></ion-input>
          </ion-item>
          <ion-item *ngIf="registerForm.get('distribuidora').touched && registerForm.get('distribuidora').dirty && registerForm.get('distribuidora').hasError('required')">
            <ion-label color="danger">Distribuidora é obrigatória</ion-label>
          </ion-item>
    
          <!-- Gênero -->
          <ion-item>
            <ion-select label="Gênero" placeholder="Selecione" formControlName="genero">
              <ion-select-option value="0">Ação</ion-select-option>
              <ion-select-option value="1">Aventura</ion-select-option>
              <ion-select-option value="2">RPG</ion-select-option>
              <ion-select-option value="3">FPS</ion-select-option>
              <ion-select-option value="4">SoulsLike</ion-select-option>
              <ion-select-option value="5">Terror</ion-select-option>
              <ion-select-option value="6">Sobrevivência</ion-select-option>
              <ion-select-option value="7">Casual</ion-select-option>
              <ion-select-option value="8">SandBox</ion-select-option>
              <ion-select-option value="9">Plataforma</ion-select-option>
              <ion-select-option value="10">RogueLike</ion-select-option>
              <ion-select-option value="11">Corrida</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="registerForm.get('genero').touched && registerForm.get('genero').dirty && registerForm.get('genero').hasError('required')">
            <ion-label color="danger">Gênero é obrigatório</ion-label>
          </ion-item>
    
          <!-- Tipo -->
          <ion-item>
            <ion-select label="Tipo" placeholder="Selecione" formControlName="tipo">
              <ion-select-option value="0">2D</ion-select-option>
              <ion-select-option value="1">3D</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="registerForm.get('tipo').touched && registerForm.get('tipo').dirty && registerForm.get('tipo').hasError('required')">
            <ion-label color="danger">Tipo é obrigatório</ion-label>
          </ion-item>
    
          <!-- Upload de arquivo -->
          <ion-item>
            <ion-button size="default" color="success" shape="round">
              <input type="file" (change)="uploadFile($event.target)" />
            </ion-button>
          </ion-item>
    
        </ion-list>
      
        <!-- Botão de submissão -->
        <ion-button expand="full" color="success" type="submit">Cadastrar</ion-button>
      
      </form>
    
    </ion-content>